body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./font/Montserrat-VariableFont_wght.ttf');
}

h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

html,
body {
  scrollbar-color: #00ABB2 #87E4DA;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #87E4DA;
}

body::-webkit-scrollbar-thumb {
  background-color: #00ABB2;
}